body{
   
}
.tree{
     background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.623)), url("./../img/R.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:900px){
    .tree{
        height: 500px;
    }
}
@media(min-width:900px){
    .tree{
        height: 650px;
    }
}
.cat{
    display: none;
  
  }
  .white{
      color: white;
  }
  .bar{
     display: flex;
     justify-content: space-between;
    
  }
  .black{
      background-color: transparent;
      top: 0;
      left: 0;
      z-index: 9995;
      width: 100%;
  }
  .hamburger{
      width: 40px;
      height: 20px;
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      cursor: pointer;
      position: relative;
      top: 15px;
      border: none;
      color: white;
  }
  .hamburger::after{
      content: "";
      position: absolute;
      inset: 0;
      margin: auto;
  }
  .hamburger .onions, .hamburger::after{
      height: 2px;
      width: 70%;
      background-color: white;
      transition: width 300ms, transform 300ms;
  }
  
  .hamburger.active::after{
      width: 0;
  }
  .hamburger.active .onions {
      background-color: black;
  }
  .hamburger.active .onions:nth-child(1){
      width: 50%;
      transform: rotate(40deg) translateY(8px) translateX(4px);
  }
  .hamburger.active .onions:nth-child(2){
      width: 50%;
      transform: rotate(-40deg) translateY(-9px) translateX(4px);
  }
  .onions{
    color: white;
  }
  .width{
      width: 150px;
      position: relative;
      top: 7px;
      padding: 0px 0px 8px 0px;
  }
  @media(min-width:800px){
      .bar{
          display: none;
      }
  }
  @media(max-width:800px){
      .bar2{
          display: none;
      }
  }
.home{
    color: white;
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.color:hover{
    color: white;
    background-color: black;
    
}
.kane{
    position: relative;
    top: 20px;
    background-color: rgba(73, 73, 73, 0.521);
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.center{
    text-align: center;
    display: flex;
    justify-content: center;
}
.login{
    text-align: center;
    display: flex;
    justify-content: center;
}
.lol{
    padding: 0px 22px 0px 22px;
    margin-top: 20px;
    height: 38px;
    background-color: white;
    border-radius: 19px;
    border: none;
    font-size: 1.1rem;  
    color: black; 
    font-weight: 600;
}
.dope{
    height: 60px;
    margin: 10px 0px 0px 0px;
}
.viual{
    color: white;
    font-size:clamp(2rem,3.4vw,11rem);
    text-align: center;
    padding-top: 100px;
}
.us{
    border: none;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 1.1rem;  
    font-weight: 600;
    background-color: white;
}
.arrow{
    width: 13px;
    border-radius: 50%;
}
.box{
    background-color: white;
    height: 130px;
    width: 300px;
    position: relative;
    bottom: 95px;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 40px 0px 0px 0px;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0),5px 5px 15px rgba(39, 39, 39, 0.404) !important;
}
.flex{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.joe{
    width: 60px;
}
.accurate{
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 20px;
    color: black;
}
@media(max-width:800px){
    .close{
        display: none;
    }
}
@media(min-width:800px){
    .close2{
        display: none;
    }
}
.dope2{
    width: 80px;
    margin: 5px 20px 5px 0px;
}
.colo{
   display: none;
}
.sss{
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(94, 94, 94, 0.356);
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 9995;
}
.homex{
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 15px;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.curve{
    display: flex;
    justify-content: center;
}
.about{
    font-weight: bold;
    font-size: 1.7rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
@media(min-width:1500px){
    .about{
       margin: 40px 0px 0px 0px;
    }
}
.arter{
    padding: 0px 20px 0px 0px;
    color: rgb(80, 79, 79);
     font-family: 'Space Grotesk', sans-serif  !important;
}
.brown{
   
    padding: 40px 0px 0px 80px;
}
.width2{
    width: 80%;
    position: relative;
    border-radius: 5px;
    top: 20px;  
}
.width3{
    width: 90%;
    position: relative;
    border-radius: 5px;
    top: 10px;  
}
.web{
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.web2{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.frontEnd{
    color: white;
    padding: 0px 0px 0px 57px;
}
.frontEnd2{
    color: rgb(80, 79, 79);
    padding: 0px 0px 0px 57px;
    font-family: 'Space Grotesk', sans-serif  !important;
    position: relative;
    bottom: 20px;
}
.blackwhite{
    background: url('./../img/tt.png');
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
}
.small{
    padding: 0px 0px 0px 120px;
}
.small2{
    width: 15%;
    float: right;
}
.flex{
    display: flex;

}
.fine{
    width: 55px;
    position: relative;
    right: 20px;
    top: 30px;
}
.fine2{
    width: 55px;
    position: relative;
    right: 9px;
    top: 30px;
}
@media(max-width:1400px){
    .small{
        display: none;
    }
}
@media(max-width:1200px){
    .blackwhite{
        display: none;
    }
}
@media(min-width:1200px){
    .blackwhite2{
        display: none;
    }
}
.teal{
    border-radius: 40px;
    width: 120px;
    height: 150px;
    background: white;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0),5px 5px 15px rgba(39, 39, 39, 0.404) !important;
    margin: 0px 5px 0px 5px;
}

.active{
    background-color: rgb(58, 58, 58);
    height: 30px;
}
.phone{
    height: 60px;
    margin-top: 40px;
    color: white ;
}
.green{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    bottom: 30px;
}
.fast{
    padding-top: 5px;
    color:black;
    font-size: 21px;
    font-weight: bold;
}
.smallbg{
   
}