.tree{
     background:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.623)), url("./../img/R.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width:900px){
    .tree{
        height: 500px;
    }
}
@media(min-width:900px){
    .tree{
        height: 650px;
    }
}
.cat{
    display: none;
  
  }
  .white{
      color: white;
  }
  .bar{
     display: flex;
     justify-content: space-between;
    
  }
  .black{
      background-color: transparent;
      top: 0;
      left: 0;
      z-index: 9995;
      width: 100%;
  }
  .hamburger{
      width: 40px;
      height: 20px;
      background: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      cursor: pointer;
      position: relative;
      top: 15px;
      border: none;
      color: white;
  }
  .hamburger::after{
      content: "";
      position: absolute;
      inset: 0;
      margin: auto;
  }
  .hamburger .onions, .hamburger::after{
      height: 2px;
      width: 70%;
      background-color: white;
      transition: width 300ms, transform 300ms;
  }
  
  .hamburger.active::after{
      width: 0;
  }
  .hamburger.active .onions {
      background-color: black;
  }
  .hamburger.active .onions:nth-child(1){
      width: 50%;
      transform: rotate(40deg) translateY(8px) translateX(4px);
  }
  .hamburger.active .onions:nth-child(2){
      width: 50%;
      transform: rotate(-40deg) translateY(-9px) translateX(4px);
  }
  .onions{
    color: white;
  }
  .width{
      width: 150px;
      position: relative;
      top: 7px;
      padding: 0px 0px 8px 0px;
  }
  @media(min-width:800px){
      .bar{
          display: none;
      }
  }
  @media(max-width:800px){
      .bar2{
          display: none;
      }
  }
.home{
    color: white;
    text-decoration: none;
    padding: 0px 8px 0px 8px;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.home:hover{
    color:rgb(214, 214, 214) ;
}
.homestyle{
    color: rgb(214, 214, 214);
}
.color:hover{
    color: white;
    background-color: black;
    transition: 1s;
    
}
.kane{
    position: relative;
    top: 20px;
    background-color: rgba(73, 73, 73, 0.521);
    border-radius: 20px;
    padding: 5px 15px 5px 15px;
    height: 40px;
    width: 350px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.center{
    text-align: center;
    display: flex;
    justify-content: center;
}
.login{
    text-align: center;
    display: flex;
    justify-content: center;
}
.lol{
    padding: 0px 10px 0px 10px;
    margin-top: 20px;
    height: 38px;
    background-color: white;
    border-radius: 19px;
    border: none;
    font-size: 1.1rem;  
    color: black; 
    font-weight: 600;
}
.dope{
    height: 65%;
    margin: 10px 0px 0px 0px;
}
.viual{
    color: white;
    font-size:clamp(2rem,3.4vw,11rem);
    text-align: center;
    padding-top: 100px;
}
.us{
    border: none;
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-size: 1.1rem;  
    font-weight: 600;
    background-color: white;
     transition: 0.5s;
}
.arrow{
    width: 13px;
    border-radius: 50%;
}
.box{
    background-color: white;
    height: 130px;
    width: 300px;
    position: relative;
    bottom: 95px;
    text-align: center;
    border-radius: 5px;
    padding: 10px 0px 10px 0px;
    margin: 40px 0px 0px 0px;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0),5px 5px 15px rgba(39, 39, 39, 0.404) !important;
}
.content{
    padding: 10px 4px 0px 4px;
    font-weight: 530;
      color: rgb(80, 79, 79);
    font-family: 'Space Grotesk', sans-serif  !important;
}
.flex{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.joe{
    width: 60px;
}
.accurate{
    font-size: 1.3rem;
    font-weight: 600;
    padding-top: 20px;
    color: black;
}
@media(max-width:800px){
    .close{
        display: none;
    }
}
@media(min-width:800px){
    .close2{
        display: none;
    }
}
.dope2{
    width: 55%;
    margin: 5px 20px 5px 0px;
}
.colo{
   display: none;
  
   
}
.sss{
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(94, 94, 94, 0.356);
    position: absolute;
    top: 60px;
    width: 100%;
    z-index: 9995;
  
}
.homex{
    text-decoration: none;
    color: white;
    padding: 10px 0px 10px 15px;
    font-size: 1.1rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.curve{
    display: flex;
    justify-content: center;
}
.about{
    font-weight: bold;
    font-size: 1.7rem;
    color: black;
    font-family: 'Space Grotesk', sans-serif  !important;
}
@media(min-width:1500px){
    .about{
       margin: 40px 0px 0px 0px;
    }
}
.arter{
    padding: 0px 20px 0px 0px;
    color: rgb(80, 79, 79);
     font-family: 'Space Grotesk', sans-serif  !important;
}
.brown{
   
    padding: 40px 0px 0px 80px;
}
.width2{
    width: 80%;
    position: relative;
    border-radius: 5px;
    top: 20px;  
}
.width3{
    width: 90%;
    position: relative;
    border-radius: 5px;
    top: 10px;  
}
.web{
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.web2{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.frontEnd{
    color: white;
    padding: 0px 0px 0px 57px;
    position: relative;
    bottom: 20px;
}
.frontEnd2{
    color: rgb(80, 79, 79);
    padding: 0px 0px 0px 57px;
    font-family: 'Space Grotesk', sans-serif  !important;
    position: relative;
    bottom: 20px;
}
.blackwhite{
    background: url('./../img/tt.png');
    height: 550px;
    background-repeat: no-repeat;
    background-size: contain;
}
.small{
    padding: 0px 0px 0px 120px;
}
.small2{
    width: 15%;
    float: right;
}
.flex{
    display: flex;

}
.fine{
    width: 55px;
    position: relative;
    right: 20px;
    top: 25px;
}
.fine2{
    width: 55px;
    position: relative;
    right: 5px;
    top: 30px;
}
@media(max-width:1400px){
    .small{
        display: none;
    }
}
@media(max-width:1200px){
    .blackwhite{
        display: none;
    }
}
@media(min-width:1200px){
    .blackwhite2{
        display: none;
    }
}
.teal{
    border-radius: 5px;
    width: 120px;
    height: 150px;
    background: white;
    box-shadow: -8px -8px 15px rgba(0, 0, 0, 0),5px 5px 15px rgba(39, 39, 39, 0.404) !important;
    margin: 0px 5px 0px 5px;
}

.active{
    background-color: rgb(58, 58, 58);
    height: 30px;
}
.phone{
    height: 60px;
    margin-top: 40px;
    color: white ;
}
.green{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    bottom: 30px;
}
.fast{
    padding-top: 5px;
    color:black;
    font-size: 21px;
    font-weight: bold;
}
.man{
    border-radius: 50%;
    width: 200px;
    margin-top: 50px;
}
.center2{
    text-align: center;
}
.guy{
    font-size: 1.7rem;
    font-weight: 450;
    font-family: 'Space Grotesk', sans-serif  !important;
}
.uiux{
    color: rgb(80, 79, 79);
    font-family: 'Space Grotesk', sans-serif  !important;
    position: relative;
    bottom: 10px;
}
.letter{
    color: rgb(80, 79, 79);
    font-family: 'Space Grotesk', sans-serif  !important;
}
.resume{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: black;
}
.resume:hover{
    color: black;
    transition: 0.5s;
    background-color: white;
    font-family: 'Space Grotesk', sans-serif  !important;
    border: 1px solid black;
}
.cupimg{
    width: 90%;
    border-radius: 10px 5px 5px 5px !important;
}

.size{
    position: relative;
    top: 10px;
    font-weight: bold;
    color: black;
    font-size: 1rem;
}
.front{
    font-size: 1.4rem;
    font-weight: bold;
    color: black;
    padding-top: 10px;
}
.box2{
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2) !important;
    padding: 12px 10px ;
    position: relative;
}
.line{
    color: rgb(80, 79, 79);
    font-family: 'Space Grotesk', sans-serif  !important;
}
.slim{
    width: 45px;
}
.resume::before{
    content:"";
    top: 0;
    left: 0;
    background: linear-gradient(120deg, transparent,#00fffc ,transparent);
    transform: translateX(-100%);
    transition: 0.6s;
    position: absolute;
}
.button2:hover{
    background-color: transparent;
    box-shadow: 0 0 20px 5px #00fffc ;
}
.skill{
    width: 160px;
    height: 160px;
    margin: 0px 10px 0px 10px;
}
.svg{
    margin: 0px 10px 0px 10px;  
}

.outer{
    height: 160px;
    width: 160px;
    border-radius: 50%;
   box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    padding: 20px;
}
.inner{
    height:120px;
    width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),-0.5px -0.5px 0px  rgba(255, 255, 255, 1),0.5px 0.5px 0px  rgba(0, 0, 0, 0.15),0px 12px 10px -10px  rgba(0, 0, 0, 0.05);
}
.number{
    font-weight: 700;
    color: black;
}

.circle1{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px ;
    stroke-dasharray: 472;
    stroke-dashoffset: 118;
}
.circle2{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px ;
    stroke-dasharray: 472;
    stroke-dashoffset:141.6 ;
}
.circle3{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px ;
    stroke-dasharray: 472;
    stroke-dashoffset: 169.92;
}
.circle4{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px ;
    stroke-dasharray: 472;
    stroke-dashoffset: 188.8;
}
.circle5{
    fill: none;
    stroke: url(#GradientColor);
    stroke-width: 20px ;
    stroke-dasharray: 472;
    stroke-dashoffset: 198.24;
}

.display{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pp{
    position: relative;
  top:160px ;
}
.kk{
    position: relative;
  bottom:0px ;
}
@media(max-width:990px){
    .kk{
            position: relative;
          bottom:160px ;
    }
}
@media(max-width:760px){
    .kk{
            position: relative;
          bottom:240px ;
    }
}
@media(max-width:760px){
    .pp{
            position: relative;
          top:240px ;
    }
}
.developer{
   
    margin-top: 15px;
}
@media(max-width:760px){
    .hope{
          display: none;
    }
}
@media(min-width:760px){
    .hope2{
          display: none;
    }
}


.progress2{
    appearance: none;
    width: 100%;
    background-color: white;
    height: 23px;
    border-radius: 0px;
}
.progress2::-webkit-progress-bar{
    background-color: white;
    border: 1px solid black;
}
.progress2::-webkit-progress-value{
    background-color: black;
}
.progress2::-moz-progress-bar{
    background-color:rgb(168, 168, 168);
}
.emediong1{
    width: 100%;
    border-radius: 0.5rem;
}
.project{
    font-size: 1.4rem;
    font-weight: 600;
}
.emediong2{
    width: 45%;
    border-radius: 0.5rem;
    border: 1px solid rgb(226, 226, 226);
    margin-top: 25px;
}
@media(min-width:1000px){
    .emediong1{
          margin-top: 82px;
    }
}

.footer{
    background-color: black;
    margin-top: 70px;
    padding: 20px 0px 10px 0px;
}
.glow{
    color: white;
    font-family: 'Space Grotesk', sans-serif ;
}
.Quick{
    font-weight: bold;
    color: white;
    font-family: 'Space Grotesk', sans-serif ;
    font-size: 20px;

}
.link{
    color: rgb(189, 189, 189);
    font-family: 'Space Grotesk', sans-serif ;
    display: block;
    padding-top: 5px;
}
.link:hover{
    color: white;
    text-decoration: none;
}
.submit{
    background-color: white;
    color: black;
    border: none;
    margin-top: 20px;
    height: 35px;
    width: 70px;
    border-radius: 5px;
    font-size: 18px;
    background-color: black;
    border: 1px solid white;
    color: white;
}
.submit:hover{
    background-color: white;
    color: black;
    border: black 1px solid;
    transition: 1s;
}
.myform{
    width: 80%;
    border-bottom: 1px white solid !important;
    background-color: black;
    border: none;
    color: white;
}
.myform:focus-visible{
    outline: none;  
}
.teatarea{
    width: 80%;
    color: white;
    background-color: black;
}
.teatarea:focus-visible{
    outline: none;
}
#one{
    color:red;
}
.bi{
    color: white;
}
.bi:hover{
    color: white;
}
.left{
    padding-left: 13px;  
}
@media(max-width:780px){
    .media1{
        display: none;
    }
}
@media(min-width:780px){
    .media2{
        display: none;
    }
}
.Copyright{
    color: white;
    font-family: 'Space Grotesk', sans-serif ;
    font-size: 13px;
    padding-top: 30px;
}
.SAIU{
    color: rgb(189, 188, 188);

}
.SAIU:hover{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.dud{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}.dud2{
    display: flex;
    flex-wrap: wrap;
}
hr{
    color: white;
    border: 1px solid white;
}
.drink{
    width: 30px;
    position: relative;
    bottom: 5px;
    left: 4px;
    padding: 5px 0px 5px 0px;
}
.coffee{
    color: white;
    background-color: black;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    padding: 3px 17px 0px 15px;
}